BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 120
BreakBeforeBraces: Attach
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
DerivePointerAlignment: false
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true

